this is a takehome assignment -- using the zinc API for ordering. Also, throughout this whole process, be sure to please make a rough outline of how you would improve the Zinc API developer experience, whenever you encounter things that maybe should work better or differently ONLY API RELATED, just add the notes to @developer-notes.md 